<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKhachHangWCF" />
                <binding name="BasicHttpBinding_IPhieuKhamWCF" />
                <binding name="BasicHttpBinding_ILeTanWCF" />
                <binding name="BasicHttpBinding_INhaSiWCF" />
                <binding name="BasicHttpBinding_IChiTietDonThuocWCF" />
                <binding name="BasicHttpBinding_IDonThuocWCF" />
                <binding name="BasicHttpBinding_IDichVuWCF" />
                <binding name="BasicHttpBinding_IThuocWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/QuanLyPhongNha_Wcf/KhachHangWCF/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKhachHangWCF"
                contract="KhachHangService.IKhachHangWCF" name="BasicHttpBinding_IKhachHangWCF" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/QuanLyPhongNha_Wcf.Interface/PhieuKhamWCF/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhieuKhamWCF"
                contract="PhieuKhamService.IPhieuKhamWCF" name="BasicHttpBinding_IPhieuKhamWCF" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/QuanLyPhongNha_Wcf/LeTanWCF/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeTanWCF"
                contract="LeTanService.ILeTanWCF" name="BasicHttpBinding_ILeTanWCF" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/QuanLyPhongNha_Wcf/NhaSiWCF/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INhaSiWCF"
                contract="NhaSiService.INhaSiWCF" name="BasicHttpBinding_INhaSiWCF" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/QuanLyPhongNha_Wcf/ChiTietDonThuocWCF/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChiTietDonThuocWCF"
                contract="ChiTietDonThuocService.IChiTietDonThuocWCF" name="BasicHttpBinding_IChiTietDonThuocWCF" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/QuanLyPhongNha_Wcf/DonThuocWCF/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDonThuocWCF"
                contract="DonThuocService.IDonThuocWCF" name="BasicHttpBinding_IDonThuocWCF" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/QuanLyPhongNha_Wcf/DichVuWCF/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDichVuWCF"
                contract="DichVuService.IDichVuWCF" name="BasicHttpBinding_IDichVuWCF" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/QuanLyPhongNha_Wcf/ThuocWCF/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IThuocWCF"
                contract="ThuocService.IThuocWCF" name="BasicHttpBinding_IThuocWCF" />
        </client>
    </system.serviceModel>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
  <connectionStrings>
    <add name="QuanLyPhongNhaString" connectionString="data source=.\SQLEXPRESS;initial catalog=QuanLyPhongNha;integrated security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>